


/*
-------------------------------------------------------------------------------
3. HEADER
-------------------------------------------------------------------------------
*/
/*home section*/
#home .header-background {
  /*home background*/
  
  width: 100%;
  height: 300px;
  
}
#home .header-background #v-card-holder {
    /*card holder*/
    position: absolute;
    overflow: visible;
    width: 100%;
    height: auto;
    top: 100px; 
}
    #home .header-background #v-card-holder #v-card {
      /*v-card with fixed 400px height*/
      position: relative;
      width: 100%;
      height: 400px;
      overflow: hidden;
      z-index: 1;
      background: #06A763;
      margin: -20px 3px 0 0; }
      #home .header-background #v-card-holder #v-card .info-headings {
        /*basic infos*/
        max-width: 514px; }
        #home .header-background #v-card-holder #v-card .info-headings h4 {
          /*name*/
          display: block;
          width: 100%;
          font-weight: 900;
          color: #fff;
          }
        #home .header-background #v-card-holder #v-card .info-headings h6 {
          /*details*/
          display: block;
          width: 100%;
          font-weight: 300;
          margin-top: -10px;
          margin-bottom: 30px;
          font-size: 1.2em;
          color: #fff;
          }
      #home .header-background #v-card-holder #v-card .infos {
        /*detailed infos*/
        max-width: 515px;
        margin-top: 99px; }
        #home .header-background #v-card-holder #v-card .infos .profile-list {
          /*list*/ }
          #home .header-background #v-card-holder #v-card .infos .profile-list .title {
            /*info title*/
            display: block;
            float: left;
            color: #fff;
            line-height: 26px; }
            #home .header-background #v-card-holder #v-card .infos .profile-list .title i {
              /*matching icon como son gps,telefono*/
              font-size: 25px; }
          #home .header-background #v-card-holder #v-card .infos .profile-list .content {
            /*infos content*/
            display: block;
            margin-left: 30px;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            color: #fff; }
      #home .header-background #v-card-holder #v-card .links {
        /*social links*/
        max-width: 500px;
        margin-left: 0px;
        margin-top: 60px;
        height: 100%; }
        /*#home .header-background #v-card-holder #v-card .links .social {
          /*class*
          margin-left: 12px;
          margin-bottom: 4px; }
          /*#home .header-background #v-card-holder #v-card .links .social i {
            /*icon*
            font-size: 15px;
            vertical-align: middle;
            padding-bottom: 15px; }*/

      #home .header-background #v-card-holder #v-card #profile {
        /*profile area*/
        position: absolute;
        right: 0;
        z-index: 1; }
        #home .header-background #v-card-holder #v-card #profile img {
          /*user image for 400x400px image*/
          width: 400px;
          height: auto; }
        #home .header-background #v-card-holder #v-card #profile .slant {
          /*slant*/
          /*permite que un elemento se desplace respecto al origen de coordenadas del 
          primer elemento contenedor posicionado  
          ó respecto a la esquina superior izquierda de la ventana de visualización;*/
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          border-style: dashed;/*se pone en diagonal*/
          /*el primero es el borde superior, el segundo es el borde derecho, 
          el tercero es el borde inferior y el cuarto es el borde izquierdo, */
          border-width: 400px 0 0 100px;
          /*el primero es el borde superior, el segundo es el borde derecho, 
          el tercero es el borde inferior y el cuarto es el borde izquierdo,*/
          border-color: transparent transparent transparent #06A763; }

        
        #home .header-background #v-card-holder #v-card #profile .add-btn {
          /*plus button*/
          position: absolute;
          background-color: #1976D2;
          top: 20%;
          right: 85%;
          /*overflow hidden hace que el navegador oculte todos los contenidos que se salen de la caja del elemento:*/
          overflow: hidden; }
          #home .header-background #v-card-holder #v-card #profile .add-btn i {
            /*icon*/
            font-size: 40px;
            color: #fff; }

/*afecta a que lo iconos no se acomoden*/

@media screen and (max-width: 767px) {
  #home {
    /*at max width 767*/ }
    #home .header-background #v-card-holder #v-card {
      /*v-card at max width 767*/
      position: relative;
      width: 100%;
      height: auto;
      overflow: visible;
      z-index: 1;
      top: 34px; }
      #home .header-background #v-card-holder #v-card #profile {
        /*profile v-card at max width 767*/
        position: absolute;
        bottom: 85%;
        left: 0;
        width: 150px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
        background-color: transparent; }
        #home .header-background #v-card-holder #v-card #profile img {
          /*image at max width 767*/
          width: 150px;
          height: 150px;
          border-radius: 50%;
/*        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
           }
        #home .header-background #v-card-holder #v-card #profile .slant {
          /*hide slant*/
          display: none;
          opacity: 0;
          overflow: hidden; }
        #home .header-background #v-card-holder #v-card #profile .add-btn {
          /*hide add button*/
          display: none;
          opacity: 0;
          overflow: hidden; }
      #home .header-background #v-card-holder #v-card .social {
        /*links styles at max width 767*/
        top: 0;
        margin-left: 5px;
        margin-bottom: 4px; }
    #home .header-background #v-card-holder #v-card .infos {
      /*infos at max width 767*/
      display: table;
      margin: 0 auto;
      max-width: 100%;
      padding: 0; }
    #home .header-background #v-card-holder #v-card .links {
      /*links at max width 767*/
      display: table;
      max-width: 100%;
      padding: 0;
      margin: 0 auto 9px;
    }
      

    #home .header-background #v-card-holder #v-card .info-headings {
      /*heading at max width 767*/
      max-width: 100%;
      text-align: center;
      margin-top: 38px; }
      #home .header-background #v-card-holder #v-card .info-headings h6 {
        margin-bottom: 20px; }
    #home .header-background #v-card-holder #v-card .card-content {
      /*content padding*/
      padding: 10px; } 
}


/*
-------------------------------------------------------------------------------
4. ABOUT
-------------------------------------------------------------------------------
*/
/*about section*/
#about {
  /*profile about*/
  margin-top: 150px; }
  #about .about-btn {
    /*about buttons*/
    height: auto;
    margin-right: auto;
    margin-left: auto;
    animation-delay: 1s;
    text-align: center; }
    #about .about-btn .btn {
      /*button style*/
      margin: 7px 7px;
      background: #06A763;
      color: #ffffff;
      width: 180px;
      border-radius: 2px; }
      #about .about-btn .btn:hover {
        /*hover effect*/
        background: #046c40; }



/*
-------------------------------------------------------------------------------
#TIMELINE SECTION para 5.educacion AND 7.experiencia (EXTENDS)
-------------------------------------------------------------------------------
*/
#timeline-education {
  /*education section*/
  position: relative; }
  /*
  Los pseudo-elementos :before y :after se utilizan en combinación 
  con la propiedad content de CSS para añadir contenidos antes o después 
  del contenido original de un elemento.
  */
  #timeline-education:before {
    /*straight line*/
    content: ''; /*	Genera contenido de forma dinámica*/
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: #06A763; }

#timeline-experience {
  /*experience section*/
  position: relative; }
  #timeline-experience::before {
    /*straight line*/
    content: '';
    position: absolute;
    top: 0;
    bottom: 23px;
    left: 50%;
    height: 99.5%;
    width: 4px;
    opacity: 0.3;
    background: #06A763; }

.timeline-block {
  /*timeline block*/
  position: relative; }
  .timeline-block::after {
    /*timeline block after*/
    clear: both;
    content: "";
    display: table; }
    /*
    La pseudo-clase :first-child selecciona el primer elemento hijo de un elemento. 
    */
  .timeline-block:first-child {
    margin-top: 0; }
  .timeline-block:last-child {
    margin-bottom: 0; }
  .timeline-block .card-content {
    /*content*/
    padding: 20px; }
    .timeline-block .card-content p {
      /*paragraph*/
      margin-top: 13px;
      text-align: left; }
    
  .timeline-block .timeline-dot {
    /*timeline dot*/
    background: #06A763;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 2%; }
    
    .timeline-block .timeline-dot h6 {
      /*dot text*/
      padding: 0;
      font-size: 30px;
      font-weight: bold;
      margin-top: 8px;
      
    }
  .timeline-block .timeline-content {
    /*each timeline content*/
    position: relative;
    background: #fff;
    margin-right: 0;
    z-index: 1;
    margin-bottom: 5px;
    border-left: 5px solid #1976D2; }
    .timeline-block .timeline-content::before {
      /*horizontal line*/
      content: '';
      width: 58px;
      height: 4px;
      position: absolute;
      top: 26px;
      left: 100%;
      z-index: -2;
      opacity: 0.4;
      background: #06A763; }
    .timeline-block .timeline-content::after {
      /*horizontal line*/
      clear: both;
      content: "";
      display: table; }
    .timeline-block .timeline-content .timeline-title {
      /*timeline blocks title*/
      max-width: 84%;
      font-weight: normal; }
    .timeline-block .timeline-content .timeline-info {
      /*more details*/ }
      .timeline-block .timeline-content .timeline-info h6 {
        /*subject or institution*/
        line-height: 12px; }
        .timeline-block .timeline-content .timeline-info h6 small {
          /*time*/
          color: inherit; }

/* Móviles en horizontal o tablets en vertical*/
  @media screen and (max-width: 768px) {
    .timeline-block .timeline-content:before {
      /*horizontal line hide at screen size*/
      display: none; } 
  }

/* Móviles en horizontal o tablets en vertical*/
@media only screen and (min-width: 768px) {
  /*properties for min width 768*/
  #timeline-education::before {
    /*vertical line for education in in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 77.1%;
    opacity: 0.4;
    background: #06A763; }

  #timeline-experience::before {
    /*vertical line for experience in min width 768 */
    left: 50%;
    margin-left: -2px;
    height: 69.1%;
    opacity: 0.4;
    background: #06A763; }

  .timeline-block {
    /*timeline block in min width 768*/
    margin: -5em 0; }
    .timeline-block .card {
      margin: 0; }
    .timeline-block .timeline-dot {
      /*timeline dot in min width 768*/
      width: 50px;
      height: 50px;
      left: 50%;
      top: 0;
      z-index: 2;
      margin-left: -24px;
      
    }
    .timeline-block .timeline-content {
      /*timeline content in min width 768*/
      width: 44%; }
      .timeline-block .timeline-content .timeline-title {
        /*timeline title min width 768*/
        max-width: 100%; }
    .timeline-block:nth-child(even) .timeline-content {
      /*content to right*/
      float: right; }
    .timeline-block:nth-child(even) .timeline-content::before {
      /*horizontal line*/
      top: 25px;
      left: auto;
      right: 101.2%;
      z-index: -2; } 
}